<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr; /* Adjust the ratio as needed */
        gap: 10px;
        width: 100%;
        padding: 10px;
      }

      .grid-item {
        padding: 5px; /* Add padding for spacing within grid items */
      }

      @media (max-width: 600px) {
        .grid-container {
          grid-template-columns: 1fr; /* Stack the items in one column on small screens */
        }

        .grid-item.text {
          font-size: 80%; /* Set the text size to 80% */
        }

        /* Additional responsive styles */
      }

      /* Additional styles for buttons, fonts, etc. */
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/messages/create">Add a Message</a></p>

    <div class="grid-container">
      <% messages.forEach(function(message) { %>
      <div class="grid-item category"><%= message.category %></div>
      <div class="grid-item text"><%= message.text %></div>
      <div class="grid-item actions">
        <button data-message-text="<%= message.text %>">Copy Text</button>
        <a href="/messages/<%= message._id %>/update">Update</a>
        <a
          href="/messages/<%= message._id %>/delete"
          onclick="return confirm('Are you sure you want to delete this message?');"
          >Delete</a
        >
      </div>
      <% }) %>
    </div>
    <script>
      function copyText(text) {
        navigator.clipboard
          .writeText(text)
          .then(function () {
            console.log('Text copied to clipboard');
          })
          .catch(function (error) {
            console.error('Error in copying text: ', error);
          });
      }

      function escapeForJS(str) {
        return str.replace(/\\/g, '\\\\').replace(/'/g, "'").replace(/"/g, '"');
      }

      document.querySelectorAll('button[data-message-text]').forEach(button => {
        button.addEventListener('click', function () {
          const text = escapeForJS(this.getAttribute('data-message-text'));
          copyText(text);
        });
      });
    </script>
  </body>
</html>
